/* ----------------------------------------------------------- */
/* == modal */
/* ----------------------------------------------------------- */

.tingle-modal,
.tingle-modal__wrapper {
	box-sizing: border-box;
}

.tingle-modal {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	visibility: hidden;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	opacity: 0;
	transition: opacity 0.2s;
}

.tingle-modal__close {
	position: fixed;
	top: 4vh;
	right: 3vw;
	z-index: 1;
	padding: 0;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	background: transparent;
	color: #34495e;
	font-size: 40px;
	line-height: normal;
	cursor: pointer;
}

.tingle-modal__wrapper {
	display: table-cell;
	padding: 50px 0;
	height: 100vh;
	vertical-align: middle;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABKElEQVR42o3TvUpDQRAF4FzdPaYQxEIbS38RtPFprEwlKohPYGtnI/4VoloIPoAIavQJfCKrnAlZOAxkmIFhdzPcL8ndmR5judY64LrEtJjr5aJjVtvw+T0A+7YvPFwyn1uRgSzE2CqlfPP5w1Y0/SoJKrQ5gY5bsQh4baB8hgDaUEgDDnxxoIfWCQ0dVKaBNx6U/Zr+Ig9NA28FbLGagTSqgHfM18lxhdAvz0cBFIIdgAsDmW/MAwelG7IvffRP6E/q/TTUvhXANqF3QgOu51wfZUKQgfT6fwicukt50lvOQkN52V3c2DHkr382OykGQaCvoI+qNraC7V3OyKx9JhoSAcgqsEvog4WTAIomxcBFOy/w8MA8C6EYvLfWGWMAdgIoMynz9u9GIh0wD30esEoAAAAASUVORK5CYII="), pointer;
	transition: transform .3s ease-in-out;
	transform: scale(.6);
}

.tingle-modal__content {
	margin: 0 auto;
	padding: 2% 7%;
	max-width: 60%;
	background: #fff;
	opacity: 1;
	cursor: auto;
}

/* state
-------------------------------------------------------------- */

.tingle-modal--visible {
	visibility: visible;
	opacity: 1;
}

.tingle-modal--visible .tingle-modal__wrapper {
	transform: scale(1);
}
